<section class="intro_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Acquisition d'équipement</h1>
            </div>
        </div>
    </div>
</section>

<div class="cap_white">

<section class="content_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2 class='hero'>Avez-vous le bon équipement?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <br>
        <div class="grid-x">
            <div class="cell large-4">
                <h3>Investissement</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="cell large-4">
                <h3>Culture</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="cell large-4">
                <h3>Récolte</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

    </div>
</section>

<section class="content_page optimisation_agricole">
    <div class="grid-container">

            <div class="grid-x grid-margin-x">
            <div class="cell large-12">

                    <h2>Nos conseillers en optimisation agricole vous accompagne</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <br>

                <ul class="accordion" data-accordion data-deep-link="true" data-update-history="false" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" id="deeplinked-accordion">

                  <li class="accordion-item is-active" data-accordion-item>
                    <a href="#etude-des-besoins" class="accordion-title">Etude des besoins</a>
                    <div class="accordion-content" data-tab-content id="etude-des-besoins">
                      Panel 1. Lorem ipsum dolor
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#recherche-equipement" class="accordion-title">Recherche d'équipement</a>
                    <div class="accordion-content" data-tab-content id="recherche-equipement">
                      Panel 2. Lorem ipsum dolor
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#import-equipement" class="accordion-title">Import d'équipement</a>
                    <div class="accordion-content" data-tab-content id="import-equipement">
                      Panel 3. Lorem ipsum dolor
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#preration-equipement" class="accordion-title">Préparation des équipements</a>
                    <div class="accordion-content" data-tab-content id="preration-equipement">
                      Panel 3. Lorem ipsum dolor
                    </div>
                  </li>
                  <li class="accordion-item" data-accordion-item>
                    <a href="#livraison-mise-en-marche" class="accordion-title">Livraison et mise en marche</a>
                    <div class="accordion-content" data-tab-content id="livraison-mise-en-marche">
                      Panel 3. Lorem ipsum dolor
                    </div>
                  </li>
                </ul>
            </div>
            </div>

    </div>
</section>
<section class="content_page_light optimisation_agricole">
    <div class="grid-container">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell large-12 center">
                    <h2>Nous vous aidons à maximiser votre investissement</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolo.</p>
                </div>
        </div>
        <br>


        <div class="grid-x  grid-margin-y">
            <div class="cell large-6 card_prix">
                <h2>Acquisition à la carte</h2>
                <cite>
                    Des services selon vos besoins
                </cite>
                <p>A partir de <strong>1500$ + tx</strong></p>
            </div>
            <div class="cell large-6 card_info">
                <h3>Selon vos besoins</h3>
                <p>Vous choississez ce dont vous avez besoin.</p>
                <p><i>Prix pour les services  </i><strong><%= link_to "sur demande",contact_acquisition_equipement_url %></strong></p>
            </div>
        </div>


        <div class="grid-x grid-margin-y">
            <div class="cell large-6 card_prix">
                <h2>Acquisition clé en main</h2>
                <cite>
                    Investissez avec un risque d'erreur faible!
                </cite>
                <p>A partir de <strong>9500$ + tx</strong></p>
            </div>
            <div class="cell large-6 card_info">
                <h3>Inclus</h3>
                    <ul>
                        <li>Etude des besoins</li>
                        <li>Recherche d'équipement</li>
                        <li>Import d'équipement</li>
                        <li>Préparation des équipement</li>
                        <li>Livraion et mise en marche</li>
                    </ul>

            </div>
        </div>

    </div>
</section>

<section class="content_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
          <div class="cell auto">
              <div class="grid-x grid-margin-x medium-up-6">
                    <div class="cell">
                        <%= link_to equipements_neufs_marque_url(marque:"macdon") do %>
                            <%= image_tag("logo/logo_macdon.png") %>
                        <% end %>
                    </div>
                  <div class="cell">
                    <%= link_to equipements_neufs_marque_url(marque:"case-ih") do %>
                            <%= image_tag("logo/logo_case_ih.png") %>
                    <% end %>
                  </div>
                  <div class="cell">
                        <%= link_to equipements_neufs_marque_url(marque:"harvestmore") do %>
                            <%= image_tag("logo/logo_harvestmore.png") %>
                        <% end %>
                  </div>
                  <div class="cell">
                      <%= link_to equipements_neufs_marque_url(marque:"john-deere") do %>
                        <%= image_tag("logo/logo_john_deere.png") %>
                      <% end %>
                  </div>
                  <div class="cell">
                      <%= link_to equipements_neufs_marque_url(marque:"new-holland") do %>
                      <%= image_tag("logo/logo_new_holland.png") %>
                      <% end %>

                  </div>
                  <div class="cell">
                      <%= link_to equipements_neufs_marque_url(marque:"grecav") do %>
                        <%= image_tag("logo/logo_grecav.png") %>
                      <% end %>
                  </div>
              </div>
          </div>
      </div>

      <div class="grid-x grid-margin-y">
          <div class="cell large-12">
              <p class="center">
                  <br>
                  <strong>
                      <%= link_to "Voir toutes les marques", equipements_neufs_marque_url %>
                  </strong>
              </p>
          </div>
      </div>
    </div>

</section>

<section class="cta_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-12">
                <h3>Choississez le bon équipement</h3>
                <p>oris nisi ut aliquip ex ea cosse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>
                    <br>
                <%= link_to "Rencontrez un expert", contact_acquisition_equipement_url, class: "button large" %>
                </p>
            </div>
        </div>
    </div>
</section>
