<section class="intro_page intro_services header_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Expertise-conseil</h1>
            </div>
        </div>
    </div>
</section>
<div class="cap_white"></div>

<section class="content_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x spacer_bottom">
            <div class="cell large-3 center">
                <h2>Acquisition d'équipement</h2>
                <br>
                <%= link_to  expertise_acquisition_equipement_url do  %>
                    <%= image_tag('http://placehold.it/600') %>
                <% end %>
            </div>
            <div class="cell large-3 center">
                <h2>Ajustement au champ</h2>
                <br>
                <%= link_to  expertise_ajustement_equipement_url do  %>
                    <%= image_tag('http://placehold.it/600') %>
                <% end %>
            </div>
            <div class="cell large-3 center">
                <h2>Inspection <br> technique</h2>
                <br>
                <%= link_to  expertise_inspection_technique_url do  %>
                    <%= image_tag('http://placehold.it/600') %>
                <% end %>
            </div>
            <div class="cell large-3 center">
                <h2>Evaluation d'équipement</h2>
                <br>
                <%= link_to  expertise_evaluation_equipement_url do  %>
                    <%= image_tag('http://placehold.it/600') %>
                <% end %>
            </div>
        </div>
    </div>
</section>
