<section class="intro_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Inspection technique</h1>
            </div>
        </div>
    </div>
</section>

<div class="cap_gray"></div>

<section class="content_page_light">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>Nos forfaits d'inspection</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="cell large-4">
                <h3>Inspection générale</h3>
                <%= image_tag "http://placehold.it/300" %>
            </div>
            <div class="cell large-4">
                <h3>Inspection Avant-Saison</h3>
                <%= image_tag "http://placehold.it/300" %>
            </div>
            <div class="cell large-4">
                <h3>Inspection pour revente</h3>
                <%= image_tag "http://placehold.it/300" %>
            </div>
        </div>
    </div>
</section>
<section class="content_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>Les points de contrôle</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="grid-x grid-margin-x grid-margin-y medium-up-3">
            <div class="cell">
                <%= image_tag "http://placehold.it/250/17" %>
            </div>
            <div class="cell">
                <h3>Signalétique</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
            </div>
            <div class="cell">
                <h3>Outils de coupe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
            </div>
            <div class="cell">
                <h3>Groupe Moteur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
            </div>
            <div class="cell">
                <h3>Huiles</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
            </div>
            <div class="cell">
                <h3>Table</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="content_page">
    <div class="grid-container">
        <div class="grid-x flex_center">
            <div class="cell large-4">
                <%= image_tag('patch_100_lavoie.png', width: 300) %>
            </div>
            <div class="cell large-8">
                <h2>Rapport d'inspection</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliq
                    ua. Ut enim ad minim veniam, quis nostrud exercitation ull
                </p>
            </div>
        </div>
    </div>
</section>

<section class="cta_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>Faites inspecter votre équipement</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute </p>
                <%= link_to "Prenez rendez-vous!", contact_inspection_technique_url, class: "button large" %>
            </div>
        </div>
    </div>
</section>
