<section class="intro_page intro_services">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Nos services</h1>
            </div>
        </div>
    </div>
</section>
<div class="cap_white"></div>

<section class="content_page bg_dust">
    <div class="grid-container">

        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-12 bloc_service bloc_service_expertise">
                <h2 class="hero">Expertise Conseil</h2>
                <p>
                    <%= link_to "Acquisition d'équipement", expertise_acquisition_equipement_url %><br>
                    <%= link_to "Inspection technique", expertise_inspection_technique_url%><br>
                    <%= link_to "Ajustement au champ",expertise_ajustement_equipement_url %><br>
                    <%= link_to "Évaluation d'équipement", expertise_evaluation_equipement_url%>
                </p>
            </div>
                <div class="cell large-12 bloc_service bloc_service_equipements">
                <h2 class="hero">Equipements Agricole</h2>
                <p>
                    <%= link_to "Equipements neufs", equipements_neufs_url %><br>
                    <%= link_to "Equipements usagés", equipements_usages_url %><br>
                </p>
            </div>

            <div class="cell large-12 bloc_service bloc_service_pieces">
                <h2 class="hero">Pieces et accessoires</h2>

                <p>
                        <%= link_to "Catalogues constructeur", pieces_commande_libre_url %><br>
                        <%= link_to "Recherche approfondie",pieces_recherche_approfondie_url %>

                </p>
            </div>
        <div class="cell large-12 bloc_service bloc_service_transport">
                <h2 class="hero">Transport et logistique</h2>
                <p>
                        <%= link_to "Transport de machinerie", transport_transport_machinerie_url %><br>
                        <%= link_to "Transport  international", transport_transport_international_url %><br>
                        <%= link_to "Transport Hors-normes", transport_transport_hors_normes_url %>
                </p>
            </div>
        </div>

    </div>
</section>
