<section class="intro_page intro_equipe">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>L'Équipe LAVOIE</h1>
            </div>
        </div>
    </div>
</section>
<div class="cap_white">

<section class="content_page content_equipe bg_dust">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-6 texte_departement">
                <div>

                <h2>Mécanique</h2>
                <p>
                    Avec plus de 30 ans d'expérience de réparations et d'ajustements de machines agricoles,
                    le département mécanique est au coeur des opérations de l'entreprise. Du nettoyage à l'ajustement,
                    nous maîtrisons tout les aspects de votre équipement.
                </p>
            </div>
            </div>
            <div class="cell large-6">
                <%= image_tag("departement_mecanique.png") %>
            </div>
        </div>

        <div class="grid-x">
            <div class="cell large-6">
                <%= image_tag("departement_pieces.png") %>
            </div>
            <div class="cell large-6 texte_departement">
            <div>
                <h2>Pièces</h2>
                <p>
                    Que vous soyez à la recherche d'une simple pièce ou d'un élément très spécifique, les spécialistes de
                    ce département sauront vous trouvez ce qu'il vous faut! Travaillant en direct avec le garage,
                    le département des pièces s'assure également de l'approvisionnemnt pour les réparations d'équipements.
                </p>
            </div>
            </div>
        </div>

        <div class="grid-x">

            <div class="cell large-6 texte_departement">
                <div>
                    <h2>Transport</h2>
                    <p>
                        Transportez des équipements agricole à l'intérieur et à l'extérieur de la province en toute sécurité et conformité avec les lois, c'est le rôle de ce département!
                        Une expertise de la logistique couplée à une gestion de projet rigoureuse font que chaque transport est un succès pour le client et pour notre entreprise.
                    </p>
                </div>
            </div>
            <div class="cell large-6">
                <%= image_tag("departement_transport.png") %>
            </div>
        </div>

        <div class="grid-x">
            <div class="cell large-6">
                <%= image_tag("departement_administration.png") %>
            </div>
            <div class="cell large-6 texte_departement">
                <div>
                    <h2>Administration</h2>
                    <p>
                        Le département administration est un véritable socle pour les autres départements.
                        Que ce soit la direction, les ressources humaines, la comptabilité ou bien les technologies de l'information.
                        ils s'assurent tous du bon fonctionnement de l'entreprise ainsi que de la
                        satisfaction de notre tous nos clients.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="content_page valeurs_equipe">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-6 texte_valeurs">
                <div>
                    <h2 class="hero">Ce qui nous unis chez LAVOIE</h2>
                    <p>
                        Ce qui fait que LAVOIE Équipement est une équipe n'est pas les compétences variées, les différences ou de génération des personnes, ni les origines ou
                        langues parlées mais bien les valeurs auxquelles adhèrent d'une façon unanime, les membres qui la compose.
                    </p>
                    <br>
                    <p><strong>Avons-nous des valeurs en commun?</strong>
                    <p> <%= link_to "Appliquer chez LAVOIE", carrieres_url, class:"button large" %> </p>
                </div>
            </div>
            <div class="cell large-6">
                <%= image_tag('valeurs_equipe.png') %>
            </div>
        </div>
    </div>
</section>
