<section class="intro_page header_page intro_transport">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Transport et logistique</h1>
            </div>
        </div>
    </div>
</section>
<div class="cap_white"></div>

<section class="content_page">
    <div class="grid-container">

        <div class="grid-x grid-margin-x spacer_bottom">
            <div class="cell large-4 center ">
                <h2>Transport de machinerie</h2>
                <br>
                <%= link_to  transport_transport_machinerie_url do  %>
                    <%= image_tag('categorie_transport_machinerie.png') %>
                <% end %>
            </div>
            <div class="cell large-4 center">
                <h2>transport international</h2>
                <br>
                <%= link_to  transport_transport_international_url do  %>
                    <%= image_tag('categorie_transport_international.png') %>
                <% end %>
            </div>
            <div class="cell large-4 center">
                <h2>Transport hors-normes</h2>
                <br>
                <%= link_to  transport_transport_hors_normes_url do  %>
                    <%= image_tag('categorie_transport_horsnormes.png') %>
                <% end %>
            </div>
        </div>

    </div>
</section>
