<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact site web - Ajustement d'équipement</h1>
    <p>
        Une personne ( <%= @message[:name] %> - <%= @message[:email] %> - <%= @message[:phone] %>) a effectué une demande de contact
        pour un <strong>ajustement d'équipement</strong> depuis le site internet de LAVOIE.
    </p>
    <p>
        <strong>Forfait :</strong> <%= @message[:forfait_ajustement] %><br>
        <strong>Type d'équipement :</strong> <%= @message[:type_equipement] %><br> 
    </p>
    <p>
        <%= @message[:message] %>
    </p>

    <p><small>Envoi fait le <%= Time.now %> avec l'adresse IP suivante : <%= @message[:ip_address] %></small></p>
  </body>
</html>
