<section class="intro_page header_page intro_equipement_neufs">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Équipements neufs</h1>
            </div>
        </div>
    </div>
</section>

<div class="cap_gray"></div>

 <section class="content_page center">
     <h2>Les marques distribuées</h2>
    <br>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-6 ">
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"macdon") do %>
                <%= image_tag("logo/logo_macdon.png") %>
                <% end %>
            </div>
            <div class="cell ">
                <%= link_to equipements_neufs_marque_url(marque:"antonio-carraro") do %>
             <%= image_tag("logo/logo_antonio_carraro.png") %>
             <% end %>
            </div>
            <div class="cell ">
                <%= link_to equipements_neufs_marque_url(marque:"grecav") do %>
             <%= image_tag("logo/logo_grecav.png") %>
                  <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"harvestmore") do %>
                 <%= image_tag("logo/logo_harvestmore.png") %>
                      <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"horst") do %>
                 <%= image_tag("logo/logo_horst.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"mudhog") do %>
                 <%= image_tag("logo/logo_mudhog.png") %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<div class="cap_white"></div>

 <section class="content_page center" id="section_top">
    <h2>Toutes les marques</h2>
    <br>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y small-up-2 medium-up-6 ">
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"agrimaster") do %>
                <%= image_tag("logo/logo_agrimaster.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"capello") do %>
                <%= image_tag("logo/logo_capello.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"case-ih") do %>
                <%= image_tag("logo/logo_case_ih.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"caterpillar") do %>
                <%= image_tag("logo/logo_caterpillar.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= image_tag("logo/logo_cereal_implements.png") %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"claas") do %>
                <%= image_tag("logo/logo_claas.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"gehl") do %>
                 <%= image_tag("logo/logo_gehl.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"geringhoff") do %>
                 <%= image_tag("logo/logo_geringhoff.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"gleaner") do %>
                 <%= image_tag("logo/logo_gleaner.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"hesston") do %>
                 <%= image_tag("logo/logo_hesston.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"john-deere") do %>
                <%= image_tag("logo/logo_john_deere.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"kingkutter") do %>
                 <%= image_tag("logo/logo_kingkutter.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"kuhn") do %>
                 <%= image_tag("logo/logo_kuhn.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"kverneland") do %>
                 <%= image_tag("logo/logo_kverneland.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"laverda") do %>
                 <%= image_tag("logo/logo_laverda.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"machinerie_am") do %>
                <%= image_tag("logo/logo_machinerie_am.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"mkmartin") do %>
                 <%= image_tag("logo/logo_mkmartin.png") %>
                 <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"new-holland") do %>
                 <%= image_tag("logo/logo_new_holland.png") %>
                 <% end %>
            </div>
            <div class="cell">
                 <%= image_tag("logo/logo_new_idea.png") %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"poettinger") do %>
                 <%= image_tag("logo/logo_poettinger.png") %>
                <% end %>
             </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"versatile") do %>
                    <%= image_tag("logo/logo_versatile.png") %>
                <% end %>
            </div>
            <div class="cell">
                <%= link_to equipements_neufs_marque_url(marque:"white-planters") do %>
                 <%= image_tag("logo/logo_white_planters.png") %>
                 <% end %>
            </div>
        </div>
    </div>
</section>
 <section class="cta_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-12">
                <h3>Toutes les marques n'auront pas la même efficacité!</h3>
                <p>Optimisez votre récolte avec les équipements adaptés.</p>
                <p>
                <br>
                    <%= link_to "Demander une expertise", contact_url, class:"large button" %>
                </p>
            </div>
        </div>
    </div>
</section>
